<div id="topnav-date" class="topnav-date-wrapper" data-topnav-date-preset-value="<%= currentPreset?.preset || 'last_7_days' %>">
  <div class="topnav-item date-range-selector">
    <label>Date Range</label>
    <button type="button" class="dropdown__trigger date-range-selector__trigger">
      <span class="dropdown__value"><%= currentPreset?.label || (fromRaw + ' - ' + toRaw) %></span>
      <span class="dropdown__arrow">▼</span>
    </button>
    <div class="dropdown__panel date-range-selector__panel"></div>
  </div>
  <div class="topnav-item resolution-selector">
    <label>Min Resolution</label>
    <button type="button" class="dropdown__trigger resolution-selector__trigger">
      <span class="dropdown__value"><%= params.min_resolution || '15m' %></span>
      <span class="dropdown__arrow">▼</span>
    </button>
    <div class="dropdown__panel resolution-selector__panel"></div>
  </div>
  <div class="topnav-item timezone-selector">
    <label>Timezone</label>
    <span class="timezone-name"></span>
  </div>
</div>
