<div id="topnav-area" class="topnav-item area-selector">
  <label for="area-selector-btn">Area</label>
  <button type="button" id="area-selector-btn" class="dropdown__trigger area-selector__trigger">
    <% const selectedRegionLabel = params.region.replace(/_/g, ' ').replace(/\b\w/g, c => c.toUpperCase()) %>
    <% const selectedAreasLabel = params.area === 'all' ? 'All areas' : params.area.replace(/,/g, ', ') %>
    <span class="dropdown__value"><%= selectedRegionLabel %> • <%= selectedAreasLabel %></span>
    <span class="dropdown__arrow">▼</span>
  </button>

  <div class="dropdown__panel area-selector__panel"></div>
</div>
